<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto mt-5">
      {{> message}}
      <form action="/restaurants" method="POST">
        <div class="form-group">
          <label class="font-weight-bold" for="name"><i style="color: red; font-weight: 500;">*</i> 中文名稱</label>
          <input type="text" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="name-en">英文名稱</label>
          <input type="text" class="form-control" id="name-en" name="name_en" value="{{name_en}}">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="category"><i style="color: red; font-weight: 500;">*</i> 類型</label>
          <input type="text" class="form-control" id="category" name="category" value="{{category}}">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="image">封面圖片</label>
          <input type="file" class="form-control-file" id="image" accept="image/*" name="image">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="location"><i style="color: red; font-weight: 500;">*</i> 地址</label>
          <input type="text" class="form-control" id="location" name="location" value="{{location}}">
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="phone"><i style="color: red; font-weight: 500;">*</i> 電話</label>
          <input type="text" class="form-control" id="phone" name="phone" value="{{phone}}">
          <p class="field-hint"><i class="fas fa-info-circle"></i> 請填寫市話，格式為：01 2345 6789</p>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="rating">
            評分<span class="rating-num"></span>
          </label>
          <input type="range" class="form-control-range" id="rating" name="rating" list="rating-marks"
                 min="1" max="5" step="0.1" value="{{rating}}"
          >
          <datalist id="rating-marks">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4"></option>
            <option value="5" label="5"></option>
          </datalist>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="description"><i style="color: red; font-weight: 500;">*</i> 餐廳簡介</label>
          <textarea class="form-control" id="description" rows="3" name="description">{{description}}</textarea>
        </div>
        <p class="form-hint"><i style="color: red; font-weight: 500;">*</i> 為必填欄位</p>
        <button type="submit" class="btn btn-primary mt-2 mb-3">新增餐廳</button>
      </form>
    </div>
  </div>
</div>

<!-- scripts -->
<script src="/javascripts/restaurantForm.js"></script>